.form__title {
    font-family: "Times New Roman", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;

    color: #202020;
    margin-bottom: 18px;
}

.form__sub-title {
    line-height: 1.2;
    text-align: center;

    color: #c79002;
    margin-bottom: 44px;
}

.form__block {
    width: 406px;
    text-align: center;

    background-color: #fffdee;
    padding: 33px 27px 38px;
}

.form__block-mob {
    display: none;

    @include desktop {
        display: block;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    justify-content: center;
}

.forma__input {
    border: 1px solid #c79002;
    border-radius: 2px;
    outline: rgba(0, 0, 0, 0);
    width: 351px;
    height: 64px;
    padding: 20px 12px;

    font-family: "Times New Roman", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    background-color: transparent;

    color: #808080;
}

.form__button {
    background-color: #f3c653;
    border: 1px solid #f3c653;
    border-radius: 2px;
    padding: 16px 19px;
    margin-top: 9px;
    width: 100%;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;

    color: #000000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                background-color: #000000;
                border: 1px solid #f3c653;
                color: #fff;
            }

        @include desktop {
            font-size: 20px;
        }
}
