body {
    background-color: #fffdee;
    color: #7a7a7a;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.02em;
}

html {
    scroll-behavior: smooth;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}