@font-face {
    font-family: "Times New Roman";
    src: url(../fonts/TimesNewRoman-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url(../fonts/TimesNewRoman-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}